*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button,
.btn {
  border: none;
  border-radius: 0.25rem;
  background-color: var(--color-primary);
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button:hover,
.btn:hover {
  transform: scale(1.1);
}

button:active,
.btn:active {
  transform: scale(0.95);
}

input {
  border: 1px solid var(--color-info);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
}
